<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="FitnessClubConnection"
			 connectionString="Server=localhost;Database=fitness_club;User Id=root;Password=De1ST_FeLl;Charset=utf8;"
			 providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
</configuration>